[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DOT"]
	path = DOT
	url = https://github.com/haghish/dot
[submodule "adjROC"]
	path = adjROC
	url = https://github.com/haghish/adjroc
[submodule "autoEnsemble"]
	path = autoEnsemble
	url = https://github.com/haghish/autoensemble
[submodule "convertGraph"]
	path = convertGraph
	url = https://github.com/haghish/convertgraph
[submodule "h2otools"]
	path = h2otools
	url = https://github.com/haghish/h2otools
[submodule "md.log"]
	path = md.log
	url = https://github.com/haghish/md.log
[submodule "mlim"]
	path = mlim
	url = https://github.com/haghish/mlim
